<header>
    <mat-toolbar class="evd-header-toolbar evd-header-toolbar-pinned  mat-elevation-z5">
        <div>
            <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
            <span>
        <img src="../../assets/evidian_white.png">
    </span>
        </div>
        <span><mat-icon>search</mat-icon></span>
    </mat-toolbar>
</header>
<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <mat-toolbar class="menu-toolbar">Menu</mat-toolbar>
      <mat-nav-list class="menu-list">
        <a mat-list-item href="/home">Home</a>
        <a mat-list-item href="/template-editor">Templates management</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>