.evd-header-toolbar {
  height: 64px;
  background: #1976D2;
  justify-content: space-between;
  align-content: center;
  padding-left: 28px;
  top:1px;
  position: -webkit-sticky;
  position: sticky;
}
.mat-elevation-z5 {
   position: relative;
   z-index: 2;
}
.evd-header-toolbar-pinned{
    position: fixed;
    transform: translateZ(0);
}
.mat-sidenav-container{
  top:64px;
}
.sidenav {
  width: 255px;
  top:64px !important;
}
.logo-product{
  margin-left: 30px;
}
.sidenav-container {
  height: 100%;
}
.mat-elevation-z5 {
   z-index: 2;
}

.menu-toolbar{
display: flex;
flex-direction: column;
background : #616161;
height: 144px;
color: white;

}
.menu-toolbar p {
  font-size: 14px;
  font-weight: normal;
}
.menu-list{
background : #FAFAFA;
}
.avatar{
 width: 56px;
 height: 56px;
 border-radius: 50%;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.menu-avatar-name{
  width:210px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.menu-list mat-icon{
  color: #616161;
}
.name-post{
  width: 130px;
  align-content: space-around;
}
.name-post p{
  height: 14px;
  margin-top: -3px;
}

#name{
  font-size: 16px;
  font-family: 'Roboto', sans-serif; 
}