/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; 
       font-family: 'Roboto', sans-serif; background: #E5E5E5 }

mat-icon{
    color: #fff
}

.search-container{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-container input {
    border :none;
    border-radius: 100px;
    width: 180px;
    max-width: 240px;
    height: 33%;
    padding: 5px 16px;
}
.page-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : #63A4FF;
    color:rgba(0, 0, 0, 0.65);

}