<mat-toolbar class="home-toolbar">
  <span>Home</span>
  <div class="search-container">
    <input type="search" placeholder="search" />
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>
  </div>
</mat-toolbar>

<div class="admin-tools">
  <mat-card class="home-card workspace-card">
    <mat-card-content>
      <h1 class="tool-text">Workspace</h1>
      <p class="tool-text">fsdfdsdfsdfsfdsdfsfsdfds</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LAUNCH</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card request-card">
    <mat-card-content>
      <h1 class="tool-text">Request Manager</h1>
      <p class="tool-text">fsdfdsdfsdfsfdsdfsfsdfds</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LAUNCH</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card provisioning-card">
    <mat-card-content>
      <h1 class="tool-text">Provisioning</h1>
      <p class="tool-text">fsdfdsdfsdfsfdsdfsfsdfds</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LAUNCH</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card audit-card">
    <mat-card-content>
      <h1 class="tool-text">Audit</h1>
      <p class="tool-text">fsdfdsdfsdfsfdsdfsfsdfds</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LAUNCH</button>
    </mat-card-actions>
  </mat-card>
</div>